*{
    margin:0px;
    padding: 0px;
}

.container{
    height:100px;
    width : 200px;
    border:1px solid black;
    height:8000px;
    width:5000px;
    background-color: beige;
}
.box1{
    border:1px solid black;
    height:100px;
    width:100px;
    background-color: aqua;
}


.box2{
    border:1px solid black;
    background-color: blanchedalmond;
}
.box3{
    border:1px solid black;
    background-color: brown;
    position : sticky;
    top:100px;
}
.box4{
    border:1px solid black;
    background-color: cornflowerblue;
    position:fixed;
}

