from{
  transform: rotate(0deg);
}

to{
  transform: rotate(360deg);
}


form{
  width:1170px;
  margin: auto;
  display: flex;
  gap: 20px;

}

form input{
  height: 40px;
  flex-basis: 80%;
}

form button{
  flex-basis: 20%;
}

.outerDiv {
  width:1170px;
  margin:auto;
}

.outerDiv ul{
  margin-top: 20px;
  margin:0px;
  padding: 0px;
  list-style: none;
}

.outerDiv ul li {
  color:white;
  padding: 10px;
  background-color: black;
  text-align: left;
  position: relative;
  font-size: 25px;
  margin-bottom: 20px;
}

.outerDiv ul li span{
  right:20px;
  position: absolute;
  cursor: pointer;
}
